<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission for camera x api -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PdpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PdpApplication.CustomSplashScreen"
        tools:targetApi="31">

        <activity
            android:name=".viewui.CameraPreviewScreen"
            android:exported="true"
            android:label="@string/camera_preview_screen"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />

        <activity
            android:name=".viewui.DiseaseAnalysis"
            android:exported="false"
            android:label="@string/title_activity_disease_analysis"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.StatisticsActivity"
            android:exported="false"
            android:label="@string/title_activity_statistics"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.AccountRegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_account_registration"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.AccountCenterActivity"
            android:exported="false"
            android:label="@string/title_activity_account_center"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.GoogleSignInRationale"
            android:exported="false"
            android:label="@string/title_activity_google_sign_in_rationale"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.DiagnosesListActivity"
            android:exported="false"
            android:label="@string/title_activity_diagnoses_list"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.PredictionActivity"
            android:exported="false"
            android:label="@string/title_activity_prediction"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.CameraActivity"
            android:exported="false"
            android:label="@string/title_activity_camera"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen" />
        <activity
            android:name=".viewui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PdpApplication.CustomSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>